@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
  background-color: aqua;
} */

.slick-prev:before {
  color:black !important
}

.slick-next:before{
  color:black !important
}

.slick-slide {
  padding: 0px 10px;
}